In [2]:
import pandas as pd

df = pd.read_csv('dataset.csv')

df

,ID,Geslacht,Leeftijd,Regio,Jaar,TotaalPersonenInHuishoudens,TotaalInParticuliereHuishoudens,ThuiswonendKind,Alleenstaand,TotaalSamenwonendePersonen,PartnerInNietGehuwdPaarZonderKinderen,PartnerInGehuwdPaarZonderKinderen,PartnerInNietGehuwdPaarMetKinderen,PartnerInGehuwdPaarMetKinderen,OuderInEenouderhuishouden,OverigLidHuishouden,PersonenInInstitutioneleHuishoudens
0,15,Mannen,25 tot 30 jaar,Gulpen-Wittem,2000,438.0,438.0,209.0,36.0,181.0,77.0,56.0,8.0,40.0,1.0,11.0,0.0
1,37,Mannen,25 tot 30 jaar,Haaksbergen,2000,820.0,817.0,309.0,101.0,384.0,232.0,82.0,14.0,56.0,0.0,23.0,3.0
2,59,Mannen,25 tot 30 jaar,Haaren,2000,421.0,404.0,167.0,47.0,179.0,82.0,56.0,3.0,38.0,0.0,11.0,17.0
3,81,Mannen,25 tot 30 jaar,Haarlem,2000,6212.0,6152.0,1012.0,2084.0,2837.0,1718.0,421.0,207.0,491.0,4.0,215.0,60.0
4,103,Mannen,25 tot 30 jaar,Haarlemmerliede en Spaarnwoude,2000,122.0,122.0,52.0,13.0,54.0,33.0,11.0,2.0,8.0,0.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911983,860177,Vrouwen,80 tot 85 jaar,Heiloo,2021,579.0,549.0,0.0,293.0,245.0,13.0,231.0,0.0,1.0,7.0,4.0,30.0
911984,860155,Vrouwen,80 tot 85 jaar,Heeze-Leende,2021,313.0,293.0,0.0,140.0,133.0,7.0,122.0,0.0,4.0,15.0,5.0,20.0
911985,860133,Vrouwen,80 tot 85 jaar,Heerlen,2021,1561.0,1438.0,0.0,877.0,495.0,24.0,455.0,3.0,13.0,43.0,23.0,123.0
911986,860111,Vrouwen,80 tot 85 jaar,Heerjansdam,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911987,860089,Vrouwen,80 tot 85 jaar,Heerhugowaard,2021,662.0,612.0,0.0,336.0,253.0,10.0,241.0,1.0,1.0,14.0,9.0,50.0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 911988 entries, 0 to 911987
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   ID                                     911988 non-null  int64
 1   Geslacht                               911988 non-null  object
 2   Leeftijd                               911988 non-null  object
 3   Regio                                  911988 non-null  object
 4   Jaar                                   911988 non-null  int64
 5   TotaalPersonenInHuishoudens            674166 non-null  float64
 6   TotaalInParticuliereHuishoudens        674166 non-null  float64
 7   ThuiswonendKind                        674166 non-null  float64
 8   Alleenstaand                           577839 non-null  float64
 9   TotaalSamenwonendePersonen             576954 non-null  float64
 10  PartnerInNietGehuwdPaarZonderKinderen  577802 non-null  float64
 11  PartnerInGehuwdPaarZonderKinderen      577802 non-null  float64
 12  PartnerInNietGehuwdPaarMetKinderen     577802 non-null  float64
 13  PartnerInGehuwdPaarMetKinderen         577802 non-null  float64
 14  OuderInEenouderhuishouden              577802 non-null  float64
 15  OverigLidHuishouden                    674129 non-null  float64
 16  PersonenInInstitutioneleHuishoudens    674129 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 118.3+ MB

In [5]:
df.columns

Index(['ID', 'Geslacht', 'Leeftijd', 'Regio', 'Jaar',
       'TotaalPersonenInHuishoudens', 'TotaalInParticuliereHuishoudens',
       'ThuiswonendKind', 'Alleenstaand', 'TotaalSamenwonendePersonen',
       'PartnerInNietGehuwdPaarZonderKinderen',
       'PartnerInGehuwdPaarZonderKinderen',
       'PartnerInNietGehuwdPaarMetKinderen', 'PartnerInGehuwdPaarMetKinderen',
       'OuderInEenouderhuishouden', 'OverigLidHuishouden',
       'PersonenInInstitutioneleHuishoudens'],
      dtype='object')

In [7]:
df[df.columns[5:]]

,TotaalPersonenInHuishoudens,TotaalInParticuliereHuishoudens,ThuiswonendKind,Alleenstaand,TotaalSamenwonendePersonen,PartnerInNietGehuwdPaarZonderKinderen,PartnerInGehuwdPaarZonderKinderen,PartnerInNietGehuwdPaarMetKinderen,PartnerInGehuwdPaarMetKinderen,OuderInEenouderhuishouden,OverigLidHuishouden,PersonenInInstitutioneleHuishoudens
0,438.0,438.0,209.0,36.0,181.0,77.0,56.0,8.0,40.0,1.0,11.0,0.0
1,820.0,817.0,309.0,101.0,384.0,232.0,82.0,14.0,56.0,0.0,23.0,3.0
2,421.0,404.0,167.0,47.0,179.0,82.0,56.0,3.0,38.0,0.0,11.0,17.0
3,6212.0,6152.0,1012.0,2084.0,2837.0,1718.0,421.0,207.0,491.0,4.0,215.0,60.0
4,122.0,122.0,52.0,13.0,54.0,33.0,11.0,2.0,8.0,0.0,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
911983,579.0,549.0,0.0,293.0,245.0,13.0,231.0,0.0,1.0,7.0,4.0,30.0
911984,313.0,293.0,0.0,140.0,133.0,7.0,122.0,0.0,4.0,15.0,5.0,20.0
911985,1561.0,1438.0,0.0,877.0,495.0,24.0,455.0,3.0,13.0,43.0,23.0,123.0
911986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
911987,662.0,612.0,0.0,336.0,253.0,10.0,241.0,1.0,1.0,14.0,9.0,50.0

In [9]:
df_geen_nan = df.dropna(how='all', subset=df.columns[5:])

In [10]:
df_geen_nan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 674166 entries, 0 to 911987
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   ID                                     674166 non-null  int64
 1   Geslacht                               674166 non-null  object
 2   Leeftijd                               674166 non-null  object
 3   Regio                                  674166 non-null  object
 4   Jaar                                   674166 non-null  int64
 5   TotaalPersonenInHuishoudens            674166 non-null  float64
 6   TotaalInParticuliereHuishoudens        674166 non-null  float64
 7   ThuiswonendKind                        674166 non-null  float64
 8   Alleenstaand                           577839 non-null  float64
 9   TotaalSamenwonendePersonen             576954 non-null  float64
 10  PartnerInNietGehuwdPaarZonderKinderen  577802 non-null  float64
 11  PartnerInGehuwdPaarZonderKinderen      577802 non-null  float64
 12  PartnerInNietGehuwdPaarMetKinderen     577802 non-null  float64
 13  PartnerInGehuwdPaarMetKinderen         577802 non-null  float64
 14  OuderInEenouderhuishouden              577802 non-null  float64
 15  OverigLidHuishouden                    674129 non-null  float64
 16  PersonenInInstitutioneleHuishoudens    674129 non-null  float64
dtypes: float64(12), int64(2), object(3)
memory usage: 92.6+ MB

In [11]:
type(df_geen_nan)

pandas.core.frame.DataFrame